
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block; font-size: 100%; white-space: normal;}
#wrapper {
    position: relative;
}

th, td {
    white-space: nowrap;
}

div[name=SimpleTable] {
    overflow-x: scroll;
}

.btn-group {
    display: flex;
}